@import url('Fonts.css');

html, body, #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    transition: all ease-in-out 0.25s;
}

.root__main {
    min-height: 100vh;
}

input, button, a, dl, dt, dd {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

button, a {
    cursor: pointer;
}

a {
    text-decoration: none;
    line-height: normal;
    color: #000000;
}
