@import url('Fonts.css');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.root-panel {
    position: relative;
    height: 100%;
    width: auto;
    padding-left: 4rem;
    padding-right: 4rem;
}