@import url('Fonts.css');

html, body, #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
}

.root__main {

}

input, button, a {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    line-height: normal;
    color: #000000;
}
