@import './ColorSet.scss';

// Commons
.disabled {
    color: $disabled-font-color;
    background-color: $disabled-background-color;
    cursor: default;
}

.activated {
    background-color: $primary-color;
}

// Buttons
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    border: 1px solid #000000;
    background-color: transparent;
    font-size: 1rem;
    width: 5rem;
    height: 2.2rem;
    cursor: pointer;
    
    &:hover {
        opacity: 0.7;
    }
}

.login-btn {
    background-color: $secondary-color;
    border: none;
}

// List
.list__container {

    .list__item {
        list-style: none;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid $gray_border-color;
        cursor: pointer;

        &:hover {
            transform: translate(2px, -2px);
            box-shadow: 4px 4px 5px #000000;
        }

        & span {
            margin-left: 10px;
            &:nth-child(1) {
                font-weight: bold;
            }
        }
    }
}


// Element: dl
.data-sheet {

    dt {
        float: left;
        font-weight: bold;
        width: 40%;
        padding-top: 5px;
    }

    dd {
        float: left;
        width: 60%;
        overflow: hidden;
        padding-top: 5px;
    }
}