@import './ColorSet.scss';

.input__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input__label {
    font-weight: bold;
    padding: 10px 40px;
}

.input__wrapper {
    width: 70%;
    border: 1px solid $gray_border-color;
    margin: 5px;
    
    .input {
        font-size: 1.1rem;
        height: 2.5rem;
        width: 100%;
    }
}