.intro__section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.intro__main {
    background-color: #004ba0;
}

.intro__article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.intro__desc {
    display: flex;
    flex-direction: column;
    font-family: 'Nanum Gothic', serif;
    color: #535353;
    h1 {
        font-size: 3rem;
        color: #000000;
    }
    span {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}