.kinder-main-container {
    display: flex;
}

.kinder-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .kinder-main-wrapper {
        
    }
}

.review-input {
    display: flex;
    justify-content: center;
}

.review-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    border: 1px solid #808080;
}

.kinder-review-container {
}

.kinder-review-item {
}

.side-btn-wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #838383;
    width: 720px;
}