nav {
    .link-to {
        margin: 1rem;
        border: 1px solid red;
    }
}

.main-nav {
    border: 2px solid yellow;
    margin: 1rem;

    .link-to {
        text-decoration: none;
    }
}

.eval-container {
    border: 1px solid red;
}