.nav__main {
    position: fixed;
    display: block;
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    transition: all 0.35s ease-in-out;
    z-index: 99;
}
.nav__wrapper {
    display: flex;
    width: auto;
    padding: 1rem;
}
.nav__title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    margin: 0;
}
.nav__links {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.nav__link {
    display: inline-block;
    text-decoration: none;
    margin: 0 10px 0 0;
}
.svg__icon {
    margin: 0 10px 0 10px
}

.top {
    position: relative;
    background-color: #004ba0 !important;
    border-bottom: none !important;
}
.scroll-up {
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
}
.scroll-down{
    transform: translateY(-10vh);
}