.main-nav {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    width: auto;
    align-items: center;
    margin-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 1.2rem;
    height: 10vh;
}
.nav-links {
    margin-left: auto;
}
.nav-title {
    font-family: 'Playfair Display', serif;
    margin: 0;
    a {
        text-decoration: none;
        color: #000000;
    }
}
.nav-link-to {
    display: inline-block;
    text-decoration: none;
}