@import './ColorSet.scss';

.profile__container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: $bright-gray_background-color;
}

.column {
    display: block;
    height: 100%;
}
