.profile-nav__container {
    position: fixed;
    width: 300px;
    top: 10.5vh;
    right: 1vw;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px #000000;

    &:focus {
        outline: none;
    }
}