@import './ColorSet.scss';
@import './SearchInput.scss';

.search__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    transition: all 0.25s ease-in-out 0s;
}

.result__container {
    margin-top: 1rem;
    padding: 1rem;
    width: 768px;
}

.pagination__wrapper {
    text-align: center;
    padding-top: 1rem;
}
.pagination__nums {
    padding: 10px;
    font-size: 1.2rem;
}
.on {
    color: $primary-color;
}