@mixin search_box {
    display: flex;
    align-items: center;
    width: 768px;
    height: 3.5rem;
    padding: 0 1rem 0 1rem;
    border: 1px solid #2c2c2c;
}
@mixin search_input {
    height: 2.5rem;
    font-size: 2rem;
    line-height: 3rem;
    width: 100%;
    margin-left: 1rem;
    color: #2c2c2c;
    font-family: 'Nanum Gothic', sans-serif;
}

.search-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    transition: all 0.25s ease-in-out 0s;
}

.unfocused.search-box {
    @include search_box();
    border: 1px solid #929292 !important;
    .search-input {
        @include search_input();
        color: #929292 !important;
        &::placeholder {
            color: #929292 !important;
        }
    }
    path {
        fill: #929292;
    }
}

.focused.search-box {
    @include search_box();
    .search-input {
        @include search_input();
        &::placeholder {
            color: #929292;
        }
    }
    path {
        fill: #2c2c2c;
    }
}

