@import './ColorSet.scss';

@mixin search__input_wrapper {
    display: flex;
    align-items: center;
    width: 768px;
    height: 3.5rem;
    padding: 0 1rem 0 1rem;
    border: 1px solid $deep-gray_border-color;
}

@mixin search__input {
    height: 2.5rem;
    font-size: 2rem;
    line-height: 3rem;
    width: 100%;
    margin-left: 1rem;
    color: $deep-gray_font-color;
    font-family: 'Nanum Gothic', sans-serif;

    &:focus {
        outline: none;
    }
}

.unfocused.search__input_wrapper {
    @include search__input_wrapper();
    border: 1px solid $disabled-color !important;
    .search__input {
        @include search__input();
        color: $disabled-color !important;
        &::placeholder {
            color: $disabled-color !important;
        }
    }
    path {
        fill: $disabled-color;
    }
}

.focused.search__input_wrapper {
    @include search__input_wrapper();
    .search__input {
        @include search__input();
        &::placeholder {
            color: $disabled-color;
        }
    }
    path {
        fill: $deep-gray_font-color;
    }
}

.inserted-search-btn {
    height: 2.5rem !important;
}