.side-nav-container {
    border: 1px solid red;
    min-height: 100vh;
    max-height: 100%;
    width: 200px;

    ul {
        li {
            text-decoration: none;
            list-style: none;
        }
    }
}